<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<script src="/js/login.js"></script>
<body>
    <div class="container">
        <div class="imgBx">
            <img src="/img/image1.png">
        </div>
        <div class="loginBox">
            <h2>
                登录
            </h2>
            <form>
                <div class="inputBox">
                    <input type="text" name="" placeholder="Username">
                </div>
                <div class="inputBox">
                    <input type="password" name="" placeholder="Password">
                </div>
                <input type="submit" name="" value="登录" onclick="check()">
                <a href="../register">没有账号？立即注册</a>
            </form>
        </div>
        </div>
    </div>
</body>
</html>
