<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/css/order.css">
</head>
<body>


<ul class="btn-numbox">
    <li><span class="number">数量</span></li>
    <li>
        <ul class="count">
            <li><span id="minus" class="num-jian">-</span></li>
            <li><input type="text" class="input-num" id="input-num" value="0"/></li>
            <li><span id="plus" class="num-jia">+</span></li>
        </ul>
    </li>
    <li><span class="kucun">（库存:54）</span></li>　
</ul>

</body>
<script src="js/order.js"></script>
</html>
