<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/css/order.css">
    <link rel="stylesheet" type="text/css" href="css/index.css">
</head>
<body>

<div class="header">
    <img src="img/logo.png" style="width: 400px;height: 90px;float: left;padding-top: 25px">
    <ul>
        <li><a href="/"> 首 页 </a></li>
        <li><a href="/trolley"> 购 物 车 </a></li>
        <li><a href="/order"> 查 看 订 单 </a></li>
        <li><a href="/login"> 登 录 </a></li>
        <li><a href="/register"> 注 册 </a></li>
    </ul>
</div>

<table class="altrowstable" id="alternatecolor">
    <thead>
    <tr>
        <th class="tdone">订单编号</th>
        <th class="tdtwo">商品名称</th>
        <th class="tdthree">数量</th>
        <th class="tdfour">总价</th>
        <th class="tdfive">创建时间</th>
        <th class="tdsix">收货地址</th>
    </tr>
    </thead>
    <tbody id="orders">

    </tbody>
</table>

</body>
<script src="js/order.js"></script>
</html>
