<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
<div class="container">
    <div class="imgBx">
        <img src="/img/image1.png">
    </div>
    <div class="loginBox">
        <h2>
            注册
        </h2>
        <form>
            <div class="inputBox">
                <input type="text" name="" placeholder="UserName">
            </div>
            <div class="inputBox">
                <input type="password" name="" placeholder="Password">
            </div>
            <input type="submit" name="" value="注册" onclick="check()">
            <a href="../login">已注册？立即登录</a>
        </form>
    </div>
</div>
</div>
<script src="/js/register.js"></script>
</body>
</html>
