<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>购物车</title>
    <link rel="stylesheet" type="text/css" href="css/trolley.css"/>
    <link rel="stylesheet" type="text/css" href="css/index.css">
</head>
<body>

<div class="header">
    <img src="img/logo.png" style="width: 400px;height: 90px;float: left;padding-top: 25px">
    <ul>
        <li><a href="/"> 首 页 </a></li>
        <li><a href="/trolley"> 购 物 车 </a></li>
        <li><a href="/order"> 查 看 订 单 </a></li>
        <li><a href="/login"> 登 录 </a></li>
        <li><a href="/register"> 注 册 </a></li>
    </ul>
</div>


<!--标题开始-->
<div class="title warp">

</div>

<!--标题结束-->

<!--显示菜单的开始-->
<div class="tips warp">
    <ul>
        <li>商品</li>
        <li>单价</li>
        <li>数量</li>
        <li>小计</li>
        <li>操作</li>
    </ul>


</div>
<!--显示菜单的结束-->

<!--商品详情展示开始-->
<div id="trolley">
    <div class="info warp">

    </div>
</div>
<!--商品详情展示结束-->

<!--结算开始-->

<div class="balance warp">
    <ul class="balance_ul2">
        <li>总价 ￥<span id="sum_price">12</span></li>
        <li>
            <button class="butt" onclick="banlance()">去结算</button>
        </li>
    </ul>
</div>


<!--结算结束-->
</body>
<script src="js/trolley.js"></script>
</html>
